*{
    background-color: #3a7fa8;
    font-family: Arial, sans-serif;
}

/* White card */
#reg-form-container{
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(12, 30, 192, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    margin-top: 40px;
}

/* LEFT FORM */
#reg-form{
  height:400px;
  width:450px;
  background-color: rgb(255, 255, 255);
  margin-right:50px;
  margin-left:100px;
}

/* Title */
#reg-tag{
    background-color: transparent;
    margin-bottom:20px;
    color:#333;
}

/* Labels */
label{
    background-color: transparent;
    margin:10px;
    margin-top:15px;
    font-weight:600;
    color:#444;
}

/* Inputs */
input{
    background-color:#f7f7f7;
    border-radius:6px;
    border:1px solid #ccc;
    padding:6px 8px;
    transition:0.2s;
}

/* Focus effect */
input:focus{
    outline:none;
    border-color:#3a7fa8;
    box-shadow:0 0 5px rgba(58,127,168,0.4);
}

/* Dropdown */
select{
    background-color:white;
    border-radius:6px;
    border:1px solid #ccc;
    padding:5px;
    margin-left:10px;

}

select:focus{
    outline:none;
    border-color:#3a7fa8;
}

/* Image side */
#reg-pic{
    height:100%;
    width:600px;
    background-color:black;
    background-image:url("reg-pic.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
}
.inline-group{
    display:flex;
    align-items:center;
    gap:10px;
    background:transparent;
}

.inline-group input{
    width:140px;
}
.inline-group label{
    white-space: nowrap;
}
option 
{
    background-color: transparent;
}
.form-footer button{
    display:block;
    margin:20px auto;
    margin-top: 10px;
    padding:10px 20px;
    background-color:#3a7fa8;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}

.form-footer button:hover{
    background-color:#2f6b8c;
    transform:scale(1.03);
}
a
{
    text-decoration: none;
}
#reg-form a{
    display:block;
    text-align:center;
    font-size:14px;
    color:#0c0c0c;
    margin-bottom: 10px;
    background-color: transparent;
}

#reg-form a:hover{
    text-decoration:underline;
}
.form-footer{
    width: 350px;
    background: transparent;
    display:flex;
    align-items:center;
    gap: 40px;
}

.form-footer a{
    text-decoration:none;
    font-size:14px;
    color:#3a7fa8;
}

.form-footer a:hover{
    text-decoration:underline;
}
#default_visible
{
    background-color: transparent;
    color: #0c0c0c;
    
    display: flex;
    align-items: center;
    margin-left: 10px;
    visibility: hidden;
    
}
p
{
    background-color: transparent;
    font-weight: 300;
    font-size: small;
    color: red;
}
#id-give
{
    border-radius: 9px;
    background-color: #ececec;
}
#id_gen
{
    border-radius: 5px;
    margin-left: 10px;
    background-color: transparent;
}